html {
	font-size: 10px;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	height: 100%;
	padding: 0;
	margin: 0;
}
.container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../images/floor-tile-64x64.png');
	background-size:19.2rem;
}
.animate {
	overflow: hidden;
}
#player {
	position: relative;
	width: 25.6rem;
	height: 25.6rem;
	background: url('../images/player-sprite-64x64-2.png') no-repeat left top;
	transform-origin: 50% 65%;
}
#enemyRanged {
	width: 12.8rem;
	height: 12.8rem;
	background: url('../images/enemy-ranged-sprite.png');
	position: absolute;
	top:10%;
	right: 10%;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
}
#muzzleFlash {
	position: absolute;
	left: 5.6rem;
	top: -1.75rem;
	
}