html {
	font-size: 10px;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	height: 100%;
	padding: 0;
	margin: 0;
	background: url('../images/floor-tile.png')
}
.container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.animate {
	overflow: hidden;
}
#player {
	position: relative;
	width: 25.6rem;
	height: 40rem;
	background: url('../images/player-sprite.png');
	transform-origin: 50% 65%;
}
#shootGoon {
	width: 25.6rem;
	height: 20rem;
	background: url('../images/shoot-goon.png');
	position: absolute;
	top:1rem;
	right: 2rem;
	transform: rotate(-135deg);
}