html {
	font-size: 10px;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	height: 100%;
	padding: 0;
	margin: 0;
}
.container {
	width: 150%;
	height: 150%;
	position: fixed;
	top: -25%;
	left: -25%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../images/floor-tile.png');
	background-size: 24rem;
}
.animate {
	overflow: hidden;
}
#player {
	position: relative;
	width: 25.6rem;
	height: 40rem;
	background: url('../images/player-sprite.png');
	transform-origin: 50% 65%;
}
#enemyRanged {
	width: 25.6rem;
	height: 25.6rem;
	background: url('../images/enemy-ranged-sprite.png');
	position: absolute;
	top:10%;
	right: 10%;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
}