body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:fixed;
    left: 50%;
    margin-left: -500px;
    top:0px;
    width:1001px;
    height:212px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1001px;
    height:212px;
    
}

.u1_normal {
    background-image: url('../Main_Navigation_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:70px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:76px;
}

.u2 {
    position:absolute;
    left:2px;
    top:27px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Main_Navigation_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:248px;
    top:11px;
    width:87px;
    height:57px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:63px;
}

.u4 {
    position:absolute;
    left:2px;
    top:20px;
    width:83px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Main_Navigation_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:334px;
    top:11px;
    width:115px;
    height:57px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:63px;
}

.u6 {
    position:absolute;
    left:2px;
    top:20px;
    width:111px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../Main_Navigation_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1000px;
    height:3px;
}

.u7 {
    position:absolute;
    left:0px;
    top:65px;
    width:1000px;
    height:10px;
    
}

.u8_normal {
    background-image: url('../Main_Navigation_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:459px;
    top:25px;
    width:250px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:459px;
    top:55px;
    width:251px;
    height:128px;
    overflow:hidden;
}

#pd1u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:128px;
    
}

.u11_menu {
    background-image: url('../Main_Navigation_files/u11_menu.png');
}

.u11_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:259px;
    height:115px;
}

#u11_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:112px;
}

#u12 {
    position:absolute;
    left:3px;
    top:3px;
    width:249px;
    height:105px
}

.u13_mouseOver {
    background-image: url('../Main_Navigation_files/Match_1_u13_mouseOver.png');
}

.u13_selected {
    background-image: url('../Main_Navigation_files/Match_1_u13_mouseOver.png');
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:244px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_mouseOver {
    background-image: url('../Main_Navigation_files/Match_1_u13_mouseOver.png');
}

.u15_selected {
    background-image: url('../Main_Navigation_files/Match_1_u13_mouseOver.png');
}

.u15_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u15_container {
    position:absolute;
    left:0px;
    top:25px;
    width:244px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_mouseOver {
    background-image: url('../Main_Navigation_files/Match_1_u13_mouseOver.png');
}

.u17_selected {
    background-image: url('../Main_Navigation_files/Match_1_u13_mouseOver.png');
}

.u17_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u17_container {
    position:absolute;
    left:0px;
    top:50px;
    width:244px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_mouseOver {
    background-image: url('../Main_Navigation_files/Match_1_u13_mouseOver.png');
}

.u19_selected {
    background-image: url('../Main_Navigation_files/Match_1_u13_mouseOver.png');
}

.u19_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u19_container {
    position:absolute;
    left:0px;
    top:75px;
    width:244px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:128px;
    
}

.u21_menu {
    background-image: url('../Main_Navigation_files/u21_menu.png');
}

.u21_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:259px;
    height:115px;
}

#u21_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:112px;
}

#u22 {
    position:absolute;
    left:3px;
    top:3px;
    width:249px;
    height:105px
}

.u23_mouseOver {
    background-image: url('../Main_Navigation_files/Match_1_u23_mouseOver.png');
}

.u23_selected {
    background-image: url('../Main_Navigation_files/Match_1_u23_mouseOver.png');
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:244px;
    height:25px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u24 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../Main_Navigation_files/Match_1_u23_mouseOver.png');
}

.u25_selected {
    background-image: url('../Main_Navigation_files/Match_1_u23_mouseOver.png');
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:0px;
    top:25px;
    width:244px;
    height:25px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_mouseOver {
    background-image: url('../Main_Navigation_files/Match_1_u23_mouseOver.png');
}

.u27_selected {
    background-image: url('../Main_Navigation_files/Match_1_u23_mouseOver.png');
}

.u27_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u27_container {
    position:absolute;
    left:0px;
    top:50px;
    width:244px;
    height:25px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u28 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_mouseOver {
    background-image: url('../Main_Navigation_files/Match_1_u23_mouseOver.png');
}

.u29_selected {
    background-image: url('../Main_Navigation_files/Match_1_u23_mouseOver.png');
}

.u29_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u29_container {
    position:absolute;
    left:0px;
    top:75px;
    width:244px;
    height:25px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u30 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Main_Navigation_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:682px;
    top:31px;
    width:18px;
    height:14px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:14px;
}

.u32 {
    position:absolute;
    left:2px;
    top:-1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:757px;
    top:70px;
    width:244px;
    height:141px;
    overflow:hidden;
}

#pd0u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:244px;
    height:141px;
    
}

.u34_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u34_container {
    position:absolute;
    left:-17px;
    top:0px;
    width:258px;
    height:150px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:264px;
    height:156px;
}

.u35 {
    position:absolute;
    left:2px;
    top:67px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Main_Navigation_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:22px;
    top:0px;
    width:211px;
    height:35px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:41px;
}

.u37 {
    position:absolute;
    left:2px;
    top:10px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Main_Navigation_files/u36_normal.png');
}

.u38_container {
    position:absolute;
    left:22px;
    top:70px;
    width:211px;
    height:35px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:41px;
}

.u39 {
    position:absolute;
    left:2px;
    top:10px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Main_Navigation_files/u36_normal.png');
}

.u40_container {
    position:absolute;
    left:22px;
    top:105px;
    width:211px;
    height:35px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:41px;
}

.u41 {
    position:absolute;
    left:2px;
    top:10px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Main_Navigation_files/u36_normal.png');
}

.u42_container {
    position:absolute;
    left:22px;
    top:35px;
    width:211px;
    height:35px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:41px;
}

.u43 {
    position:absolute;
    left:2px;
    top:10px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Main_Navigation_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:9px;
    top:10px;
    width:180px;
    height:50px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:50px;
}

.u45 {
    position:absolute;
    left:2px;
    top:17px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u46 {
    position:absolute;
    left:770px;
    top:0px;
    width:231px;
    height:71px;
    overflow:hidden;
}

#pd1u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:231px;
    height:71px;
    
}

.u47_normal {
    background-image: url('../Main_Navigation_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:-6px;
    top:0px;
    width:234px;
    height:69px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:240px;
    height:75px;
}

.u48 {
    position:absolute;
    left:2px;
    top:26px;
    width:230px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_mouseOver {
    background-image: url('../Main_Navigation_files/Sign_In_Button_u49_mouseOver.png');
}

.u49_disabled {
    background-image: url('../Main_Navigation_files/Sign_In_Button_u49_disabled.png');
}

.u49_normal {
    background-image: url('../Main_Navigation_files/Sign_In_Button_u49_normal.png');
}

.u49_container {
    position:absolute;
    left:61px;
    top:23px;
    width:100px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u50 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:231px;
    height:71px;
    
}

.u51_normal {
    background-image: url('../Main_Navigation_files/placeholder_u51_normal.png');
}

.u51_container {
    position:absolute;
    left:13px;
    top:13px;
    width:45px;
    height:45px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:51px;
}

.u52 {
    position:absolute;
    left:2px;
    top:15px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:67px;
    top:30px;
    width:126px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:223px;
    height:70px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:229px;
    height:76px;
}

.u55 {
    position:absolute;
    left:2px;
    top:27px;
    width:219px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Main_Navigation_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:186px;
    top:35px;
    width:6px;
    height:3px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:9px;
}

.u57 {
    position:absolute;
    left:2px;
    top:-6px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:470px;
    top:31px;
    width:202px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#6B6B6B;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u60_line {
    background-image: url('../Grocery_List_files/u60_line.png');
}

.u60_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u60 {
    position:absolute;
    left:20px;
    top:163px;
    width:960px;
    height:10px;
    
}

.u61 {
    position:absolute;
    left:20px;
    top:127px;
    width:242px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u62 {
    position:absolute;
    left:20px;
    top:236px;
    width:965px;
    height:277px
}

.u63_normal {
    background-image: url('../Grocery_List_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:34px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:40px;
}

.u64 {
    position:absolute;
    left:7px;
    top:9px;
    width:136px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Grocery_List_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:150px;
    top:0px;
    width:240px;
    height:34px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:40px;
}

.u66 {
    position:absolute;
    left:7px;
    top:9px;
    width:226px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Grocery_List_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:390px;
    top:0px;
    width:570px;
    height:34px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:576px;
    height:40px;
}

.u68 {
    position:absolute;
    left:7px;
    top:9px;
    width:556px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Grocery_List_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:34px;
    width:150px;
    height:34px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:40px;
}

.u70 {
    position:absolute;
    left:7px;
    top:9px;
    width:136px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Grocery_List_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:150px;
    top:34px;
    width:240px;
    height:34px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:40px;
}

.u72 {
    position:absolute;
    left:7px;
    top:9px;
    width:226px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Grocery_List_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:390px;
    top:34px;
    width:570px;
    height:34px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:576px;
    height:40px;
}

.u74 {
    position:absolute;
    left:7px;
    top:9px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Grocery_List_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:0px;
    top:68px;
    width:150px;
    height:34px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:40px;
}

.u76 {
    position:absolute;
    left:7px;
    top:9px;
    width:136px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Grocery_List_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:150px;
    top:68px;
    width:240px;
    height:34px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:40px;
}

.u78 {
    position:absolute;
    left:7px;
    top:9px;
    width:226px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Grocery_List_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:390px;
    top:68px;
    width:570px;
    height:34px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:576px;
    height:40px;
}

.u80 {
    position:absolute;
    left:7px;
    top:9px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Grocery_List_files/u69_normal.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:102px;
    width:150px;
    height:34px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:40px;
}

.u82 {
    position:absolute;
    left:7px;
    top:9px;
    width:136px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Grocery_List_files/u71_normal.png');
}

.u83_container {
    position:absolute;
    left:150px;
    top:102px;
    width:240px;
    height:34px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:40px;
}

.u84 {
    position:absolute;
    left:7px;
    top:9px;
    width:226px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Grocery_List_files/u73_normal.png');
}

.u85_container {
    position:absolute;
    left:390px;
    top:102px;
    width:570px;
    height:34px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:576px;
    height:40px;
}

.u86 {
    position:absolute;
    left:7px;
    top:9px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Grocery_List_files/u75_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:136px;
    width:150px;
    height:34px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:40px;
}

.u88 {
    position:absolute;
    left:7px;
    top:9px;
    width:136px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Grocery_List_files/u77_normal.png');
}

.u89_container {
    position:absolute;
    left:150px;
    top:136px;
    width:240px;
    height:34px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:40px;
}

.u90 {
    position:absolute;
    left:7px;
    top:9px;
    width:226px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Grocery_List_files/u79_normal.png');
}

.u91_container {
    position:absolute;
    left:390px;
    top:136px;
    width:570px;
    height:34px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:576px;
    height:40px;
}

.u92 {
    position:absolute;
    left:7px;
    top:9px;
    width:556px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Grocery_List_files/u69_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:170px;
    width:150px;
    height:34px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:40px;
}

.u94 {
    position:absolute;
    left:7px;
    top:9px;
    width:136px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Grocery_List_files/u71_normal.png');
}

.u95_container {
    position:absolute;
    left:150px;
    top:170px;
    width:240px;
    height:34px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:40px;
}

.u96 {
    position:absolute;
    left:7px;
    top:9px;
    width:226px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Grocery_List_files/u73_normal.png');
}

.u97_container {
    position:absolute;
    left:390px;
    top:170px;
    width:570px;
    height:34px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:576px;
    height:40px;
}

.u98 {
    position:absolute;
    left:7px;
    top:9px;
    width:556px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Grocery_List_files/u75_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:204px;
    width:150px;
    height:34px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:40px;
}

.u100 {
    position:absolute;
    left:7px;
    top:9px;
    width:136px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Grocery_List_files/u77_normal.png');
}

.u101_container {
    position:absolute;
    left:150px;
    top:204px;
    width:240px;
    height:34px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:40px;
}

.u102 {
    position:absolute;
    left:7px;
    top:9px;
    width:226px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Grocery_List_files/u79_normal.png');
}

.u103_container {
    position:absolute;
    left:390px;
    top:204px;
    width:570px;
    height:34px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:576px;
    height:40px;
}

.u104 {
    position:absolute;
    left:7px;
    top:9px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Grocery_List_files/u69_normal.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:238px;
    width:150px;
    height:34px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:40px;
}

.u106 {
    position:absolute;
    left:7px;
    top:9px;
    width:136px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Grocery_List_files/u71_normal.png');
}

.u107_container {
    position:absolute;
    left:150px;
    top:238px;
    width:240px;
    height:34px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:40px;
}

.u108 {
    position:absolute;
    left:7px;
    top:9px;
    width:226px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../Grocery_List_files/u73_normal.png');
}

.u109_container {
    position:absolute;
    left:390px;
    top:238px;
    width:570px;
    height:34px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:576px;
    height:40px;
}

.u110 {
    position:absolute;
    left:7px;
    top:9px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Grocery_List_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:953px;
    top:277px;
    width:20px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../Grocery_List_files/u111_normal.png');
}

.u113_container {
    position:absolute;
    left:953px;
    top:312px;
    width:20px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../Grocery_List_files/u111_normal.png');
}

.u115_container {
    position:absolute;
    left:953px;
    top:346px;
    width:20px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../Grocery_List_files/u111_normal.png');
}

.u117_container {
    position:absolute;
    left:953px;
    top:379px;
    width:20px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../Grocery_List_files/u111_normal.png');
}

.u119_container {
    position:absolute;
    left:953px;
    top:414px;
    width:20px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../Grocery_List_files/u111_normal.png');
}

.u121_container {
    position:absolute;
    left:953px;
    top:447px;
    width:20px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../Grocery_List_files/u111_normal.png');
}

.u123_container {
    position:absolute;
    left:953px;
    top:481px;
    width:20px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u125 {
    position:absolute;
    left:20px;
    top:191px;
    width:11px;
    height:15px;
    overflow:hidden;
}

#pd0u125 {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:15px;
    
}

.u126 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u127 {
    position:absolute;
    left:20px;
    top:191px;
    width:220px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u128_mouseOver {
    background-image: url('../Grocery_List_files/button_u128_mouseOver.png');
}

.u128_disabled {
    background-image: url('../Grocery_List_files/button_u128_disabled.png');
}

.u128_normal {
    background-image: url('../Grocery_List_files/button_u128_normal.png');
}

.u128_container {
    position:absolute;
    left:250px;
    top:191px;
    width:115px;
    height:30px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:36px;
}

.u129 {
    position:absolute;
    left:2px;
    top:6px;
    width:111px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_mouseOver {
    background-image: url('../Grocery_List_files/button_u130_mouseOver.png');
}

.u130_disabled {
    background-image: url('../Grocery_List_files/button_u130_disabled.png');
}

.u130_normal {
    background-image: url('../Grocery_List_files/button_u130_normal.png');
}

.u130_container {
    position:absolute;
    left:900px;
    top:191px;
    width:80px;
    height:30px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u131 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u132 {
    position:absolute;
    left:20px;
    top:505px;
    width:961px;
    height:35px;
    overflow:hidden;
}

#pd0u132 {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:35px;
    
}

#u133 {
    position:absolute;
    left:0px;
    top:0px;
    width:965px;
    height:39px
}

.u134_normal {
    background-image: url('../Grocery_List_files/Quantity_Column_u134_normal.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:34px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:40px;
}

.u135 {
    position:absolute;
    left:7px;
    top:9px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../Grocery_List_files/Ingredient_Column_u136_normal.png');
}

.u136_container {
    position:absolute;
    left:150px;
    top:0px;
    width:240px;
    height:34px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:40px;
}

.u137 {
    position:absolute;
    left:7px;
    top:9px;
    width:226px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../Grocery_List_files/Note_Column_u138_normal.png');
}

.u138_container {
    position:absolute;
    left:390px;
    top:0px;
    width:570px;
    height:34px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:576px;
    height:40px;
}

.u139 {
    position:absolute;
    left:7px;
    top:9px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_mouseOver {
    background-image: url('../Grocery_List_files/text___inline_edit_u140_mouseOver.png');
}

.u140_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u140_container {
    position:absolute;
    left:10px;
    top:7px;
    width:133px;
    height:20px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:26px;
}

.u141 {
    position:absolute;
    left:2px;
    top:2px;
    width:129px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u142 {
    position:absolute;
    left:10px;
    top:6px;
    width:134px;
    height:26px;
    overflow:hidden;
}

#pd0u142 {
    position:absolute;
    left:0px;
    top:0px;
    width:134px;
    height:26px;
    
}

.u143 {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u144_mouseOver {
    background-image: url('../Grocery_List_files/text___inline_edit_u140_mouseOver.png');
}

.u144_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u144_container {
    position:absolute;
    left:400px;
    top:7px;
    width:133px;
    height:20px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:26px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:129px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u146 {
    position:absolute;
    left:400px;
    top:6px;
    width:134px;
    height:26px;
    overflow:hidden;
}

#pd0u146 {
    position:absolute;
    left:0px;
    top:0px;
    width:134px;
    height:26px;
    
}

.u147 {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u148_normal {
    background-image: url('../Grocery_List_files/u111_normal.png');
}

.u148_container {
    position:absolute;
    left:934px;
    top:8px;
    width:20px;
    height:20px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u150 {
    position:absolute;
    left:20px;
    top:520px;
    width:176px;
    height:31px;
    overflow:hidden;
}

#pd0u150 {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:31px;
    
}

.u151_mouseOver {
    background-image: url('../Grocery_List_files/Print_List_Button_u151_mouseOver.png');
}

.u151_disabled {
    background-image: url('../Grocery_List_files/Print_List_Button_u151_disabled.png');
}

.u151_normal {
    background-image: url('../Grocery_List_files/Print_List_Button_u151_normal.png');
}

.u151_container {
    position:absolute;
    left:0px;
    top:0px;
    width:175px;
    height:30px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:36px;
}

.u152 {
    position:absolute;
    left:2px;
    top:6px;
    width:171px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

