body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:21px;
    top:894px;
    width:551px;
    height:196px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:551px;
    height:196px;
    
}

#u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
    overflow:hidden;
}

#pd0u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
    
}

.u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:0px;
    top:45px;
    width:550px;
    height:150px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_normal {
    background-image: url('../Add_a_Recipe_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:20px;
    top:1295px;
    width:961px;
    height:108px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:114px;
}

.u6 {
    position:absolute;
    left:2px;
    top:46px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u7 {
    position:fixed;
    left: 50%;
    margin-left: -500px;
    top:0px;
    width:1001px;
    height:212px;
    overflow:hidden;
}

#pd0u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:1001px;
    height:212px;
    
}

.u8_normal {
    background-image: url('../Add_a_Recipe_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:70px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:76px;
}

.u9 {
    position:absolute;
    left:2px;
    top:27px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Add_a_Recipe_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:248px;
    top:11px;
    width:87px;
    height:57px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:63px;
}

.u11 {
    position:absolute;
    left:2px;
    top:20px;
    width:83px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Add_a_Recipe_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:334px;
    top:11px;
    width:115px;
    height:57px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:63px;
}

.u13 {
    position:absolute;
    left:2px;
    top:20px;
    width:111px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_line {
    background-image: url('../Add_a_Recipe_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1000px;
    height:3px;
}

.u14 {
    position:absolute;
    left:0px;
    top:65px;
    width:1000px;
    height:10px;
    
}

.u15_normal {
    background-image: url('../Add_a_Recipe_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:459px;
    top:25px;
    width:250px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:36px;
}

.u16 {
    position:absolute;
    left:2px;
    top:7px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u17 {
    position:absolute;
    left:459px;
    top:55px;
    width:251px;
    height:128px;
    overflow:hidden;
}

#pd1u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:128px;
    
}

.u18_menu {
    background-image: url('../Add_a_Recipe_files/u18_menu.png');
}

.u18_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:259px;
    height:115px;
}

#u18_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:112px;
}

#u19 {
    position:absolute;
    left:3px;
    top:3px;
    width:249px;
    height:105px
}

.u20_mouseOver {
    background-image: url('../Add_a_Recipe_files/Match_1_u20_mouseOver.png');
}

.u20_selected {
    background-image: url('../Add_a_Recipe_files/Match_1_u20_mouseOver.png');
}

.u20_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:244px;
    height:25px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u21 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_mouseOver {
    background-image: url('../Add_a_Recipe_files/Match_1_u20_mouseOver.png');
}

.u22_selected {
    background-image: url('../Add_a_Recipe_files/Match_1_u20_mouseOver.png');
}

.u22_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:0px;
    top:25px;
    width:244px;
    height:25px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u23 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_mouseOver {
    background-image: url('../Add_a_Recipe_files/Match_1_u20_mouseOver.png');
}

.u24_selected {
    background-image: url('../Add_a_Recipe_files/Match_1_u20_mouseOver.png');
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:0px;
    top:50px;
    width:244px;
    height:25px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u25 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_mouseOver {
    background-image: url('../Add_a_Recipe_files/Match_1_u20_mouseOver.png');
}

.u26_selected {
    background-image: url('../Add_a_Recipe_files/Match_1_u20_mouseOver.png');
}

.u26_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:0px;
    top:75px;
    width:244px;
    height:25px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:128px;
    
}

.u28_menu {
    background-image: url('../Add_a_Recipe_files/u28_menu.png');
}

.u28_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:259px;
    height:115px;
}

#u28_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:112px;
}

#u29 {
    position:absolute;
    left:3px;
    top:3px;
    width:249px;
    height:105px
}

.u30_mouseOver {
    background-image: url('../Add_a_Recipe_files/Match_1_u30_mouseOver.png');
}

.u30_selected {
    background-image: url('../Add_a_Recipe_files/Match_1_u30_mouseOver.png');
}

.u30_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:244px;
    height:25px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u31 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_mouseOver {
    background-image: url('../Add_a_Recipe_files/Match_1_u30_mouseOver.png');
}

.u32_selected {
    background-image: url('../Add_a_Recipe_files/Match_1_u30_mouseOver.png');
}

.u32_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:0px;
    top:25px;
    width:244px;
    height:25px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u33 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_mouseOver {
    background-image: url('../Add_a_Recipe_files/Match_1_u30_mouseOver.png');
}

.u34_selected {
    background-image: url('../Add_a_Recipe_files/Match_1_u30_mouseOver.png');
}

.u34_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u34_container {
    position:absolute;
    left:0px;
    top:50px;
    width:244px;
    height:25px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u35 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_mouseOver {
    background-image: url('../Add_a_Recipe_files/Match_1_u30_mouseOver.png');
}

.u36_selected {
    background-image: url('../Add_a_Recipe_files/Match_1_u30_mouseOver.png');
}

.u36_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u36_container {
    position:absolute;
    left:0px;
    top:75px;
    width:244px;
    height:25px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:31px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Add_a_Recipe_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:682px;
    top:31px;
    width:18px;
    height:14px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:14px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u40 {
    position:absolute;
    left:757px;
    top:70px;
    width:244px;
    height:141px;
    overflow:hidden;
}

#pd0u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:244px;
    height:141px;
    
}

.u41_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:-17px;
    top:0px;
    width:258px;
    height:150px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:264px;
    height:156px;
}

.u42 {
    position:absolute;
    left:2px;
    top:67px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Add_a_Recipe_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:22px;
    top:0px;
    width:211px;
    height:35px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:41px;
}

.u44 {
    position:absolute;
    left:2px;
    top:10px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Add_a_Recipe_files/u43_normal.png');
}

.u45_container {
    position:absolute;
    left:22px;
    top:70px;
    width:211px;
    height:35px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:41px;
}

.u46 {
    position:absolute;
    left:2px;
    top:10px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Add_a_Recipe_files/u43_normal.png');
}

.u47_container {
    position:absolute;
    left:22px;
    top:105px;
    width:211px;
    height:35px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:41px;
}

.u48 {
    position:absolute;
    left:2px;
    top:10px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Add_a_Recipe_files/u43_normal.png');
}

.u49_container {
    position:absolute;
    left:22px;
    top:35px;
    width:211px;
    height:35px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:41px;
}

.u50 {
    position:absolute;
    left:2px;
    top:10px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Add_a_Recipe_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:9px;
    top:10px;
    width:180px;
    height:50px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:50px;
}

.u52 {
    position:absolute;
    left:2px;
    top:17px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u53 {
    position:absolute;
    left:770px;
    top:0px;
    width:231px;
    height:71px;
    overflow:hidden;
}

#pd1u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:231px;
    height:71px;
    
}

.u54_normal {
    background-image: url('../Add_a_Recipe_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:-6px;
    top:0px;
    width:234px;
    height:69px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:240px;
    height:75px;
}

.u55 {
    position:absolute;
    left:2px;
    top:26px;
    width:230px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../Add_a_Recipe_files/Sign_In_Button_u56_mouseOver.png');
}

.u56_disabled {
    background-image: url('../Add_a_Recipe_files/Sign_In_Button_u56_disabled.png');
}

.u56_normal {
    background-image: url('../Add_a_Recipe_files/Sign_In_Button_u56_normal.png');
}

.u56_container {
    position:absolute;
    left:61px;
    top:23px;
    width:100px;
    height:30px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u57 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:231px;
    height:71px;
    
}

.u58_normal {
    background-image: url('../Add_a_Recipe_files/placeholder_u58_normal.png');
}

.u58_container {
    position:absolute;
    left:13px;
    top:13px;
    width:45px;
    height:45px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:51px;
}

.u59 {
    position:absolute;
    left:2px;
    top:15px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:67px;
    top:30px;
    width:126px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u61_container {
    position:absolute;
    left:0px;
    top:0px;
    width:223px;
    height:70px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:229px;
    height:76px;
}

.u62 {
    position:absolute;
    left:2px;
    top:27px;
    width:219px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Add_a_Recipe_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:186px;
    top:35px;
    width:6px;
    height:3px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:9px;
}

.u64 {
    position:absolute;
    left:2px;
    top:-6px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:470px;
    top:31px;
    width:202px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#6B6B6B;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u67 {
    position:absolute;
    left:20px;
    top:94px;
    width:212px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u68 {
    position:absolute;
    left:390px;
    top:136px;
    width:13px;
    height:15px;
    overflow:hidden;
}

#pd0u68 {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:15px;
    
}

.u69 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:390px;
    top:136px;
    width:256px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u71 {
    position:absolute;
    left:20px;
    top:190px;
    width:14px;
    height:11px;
    overflow:hidden;
}

#pd0u71 {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:11px;
    
}

.u72 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:390px;
    top:176px;
    width:256px;
    height:100px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74_normal {
    background-image: url('../Add_a_Recipe_files/placeholder_u74_normal.png');
}

.u74_container {
    position:absolute;
    left:20px;
    top:137px;
    width:350px;
    height:233px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:239px;
}

.u75 {
    position:absolute;
    left:2px;
    top:109px;
    width:346px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:20px;
    top:413px;
    width:85px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:20px;
    top:390px;
    width:140px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:20px;
    top:453px;
    width:140px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:20px;
    top:515px;
    width:140px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u80 {
    position:absolute;
    left:20px;
    top:537px;
    width:4px;
    height:12px;
    overflow:hidden;
}

#pd0u80 {
    position:absolute;
    left:0px;
    top:0px;
    width:4px;
    height:12px;
    
}

.u81 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82 {
    position:absolute;
    left:20px;
    top:537px;
    width:45px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u83 {
    position:absolute;
    left:75px;
    top:537px;
    width:4px;
    height:12px;
    overflow:hidden;
}

#pd0u83 {
    position:absolute;
    left:0px;
    top:0px;
    width:4px;
    height:12px;
    
}

.u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:75px;
    top:537px;
    width:45px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u86 {
    position:absolute;
    left:21px;
    top:476px;
    width:4px;
    height:12px;
    overflow:hidden;
}

#pd0u86 {
    position:absolute;
    left:0px;
    top:0px;
    width:4px;
    height:12px;
    
}

.u87 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u88 {
    position:absolute;
    left:21px;
    top:476px;
    width:45px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u89 {
    position:absolute;
    left:76px;
    top:476px;
    width:3px;
    height:12px;
    overflow:hidden;
}

#pd0u89 {
    position:absolute;
    left:0px;
    top:0px;
    width:3px;
    height:12px;
    
}

.u90 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u91 {
    position:absolute;
    left:76px;
    top:476px;
    width:45px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u92 {
    position:absolute;
    left:167px;
    top:390px;
    width:248px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:166px;
    top:452px;
    width:50px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94 {
    position:absolute;
    left:311px;
    top:452px;
    width:115px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u95 {
    position:absolute;
    left:436px;
    top:452px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96 {
    position:absolute;
    left:167px;
    top:428px;
    width:135px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:226px;
    top:428px;
    width:135px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:311px;
    top:428px;
    width:135px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:436px;
    top:428px;
    width:135px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:166px;
    top:487px;
    width:50px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u101 {
    position:absolute;
    left:311px;
    top:487px;
    width:115px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102 {
    position:absolute;
    left:436px;
    top:487px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u103 {
    position:absolute;
    left:166px;
    top:522px;
    width:50px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u104 {
    position:absolute;
    left:311px;
    top:522px;
    width:115px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u105 {
    position:absolute;
    left:436px;
    top:522px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u106_mouseOver {
    background-image: url('../Add_a_Recipe_files/button_u106_mouseOver.png');
}

.u106_disabled {
    background-image: url('../Add_a_Recipe_files/button_u106_disabled.png');
}

.u106_normal {
    background-image: url('../Add_a_Recipe_files/button_u106_normal.png');
}

.u106_container {
    position:absolute;
    left:166px;
    top:562px;
    width:146px;
    height:25px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:31px;
}

.u107 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:21px;
    top:652px;
    width:100px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:226px;
    top:455px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u110_line {
    background-image: url('../Add_a_Recipe_files/u110_line.png');
}

.u110_line {
    position:absolute;
    left:0px;
    top:4px;
    width:625px;
    height:3px;
}

.u110 {
    position:absolute;
    left:21px;
    top:617px;
    width:625px;
    height:10px;
    
}

.u111 {
    position:absolute;
    left:226px;
    top:490px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u112 {
    position:absolute;
    left:226px;
    top:525px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u113_normal {
    background-image: url('../Add_a_Recipe_files/placeholder_u113_normal.png');
}

.u113_container {
    position:absolute;
    left:390px;
    top:310px;
    width:80px;
    height:60px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:66px;
}

.u114 {
    position:absolute;
    left:2px;
    top:15px;
    width:76px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u115 {
    position:absolute;
    left:666px;
    top:614px;
    width:335px;
    height:301px;
    overflow:hidden;
}

#pd1u115 {
    position:absolute;
    left:0px;
    top:0px;
    width:335px;
    height:301px;
    
}

.u116_normal {
    background-image: url('../Add_a_Recipe_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:20px;
    top:32px;
    width:291px;
    height:25px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:297px;
    height:31px;
}

.u117 {
    position:absolute;
    left:2px;
    top:4px;
    width:287px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:20px;
    top:5px;
    width:284px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:20px;
    top:72px;
    width:291px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u120 {
    position:absolute;
    left:34px;
    top:36px;
    width:140px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u121 {
    position:absolute;
    left:0px;
    top:94px;
    width:335px;
    height:191px;
    overflow:hidden;
}

#pd0u121 {
    position:absolute;
    left:0px;
    top:0px;
    width:335px;
    height:191px;
    
}

#u122 {
    position:absolute;
    left:20px;
    top:20px;
    width:7px;
    height:11px;
    overflow:hidden;
}

#pd0u122 {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:11px;
    
}

.u123 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u124 {
    position:absolute;
    left:20px;
    top:20px;
    width:294px;
    height:110px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u125 {
    position:absolute;
    left:20px;
    top:141px;
    width:151px;
    height:35px;
    overflow:hidden;
}

#pd0u125 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:35px;
    
}

.u126_mouseOver {
    background-image: url('../Add_a_Recipe_files/button_u126_mouseOver.png');
}

.u126_disabled {
    background-image: url('../Add_a_Recipe_files/button_u126_disabled.png');
}

.u126_normal {
    background-image: url('../Add_a_Recipe_files/button_u126_normal.png');
}

.u126_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:34px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:40px;
}

.u127 {
    position:absolute;
    left:2px;
    top:8px;
    width:146px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u115 {
    position:absolute;
    left:0px;
    top:0px;
    width:335px;
    height:301px;
    
}

.u128 {
    position:absolute;
    left:20px;
    top:0px;
    width:291px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u129 {
    position:absolute;
    left:0px;
    top:22px;
    width:335px;
    height:276px;
    overflow:hidden;
}

#pd1u129 {
    position:absolute;
    left:0px;
    top:0px;
    width:335px;
    height:276px;
    
}

#u130 {
    position:absolute;
    left:20px;
    top:20px;
    width:7px;
    height:11px;
    overflow:hidden;
}

#pd0u130 {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:11px;
    
}

.u131 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u132 {
    position:absolute;
    left:20px;
    top:118px;
    width:294px;
    height:110px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u133 {
    position:absolute;
    left:20px;
    top:239px;
    width:151px;
    height:35px;
    overflow:hidden;
}

#pd0u133 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:35px;
    
}

.u134_mouseOver {
    background-image: url('../Add_a_Recipe_files/button_u126_mouseOver.png');
}

.u134_disabled {
    background-image: url('../Add_a_Recipe_files/button_u126_disabled.png');
}

.u134_normal {
    background-image: url('../Add_a_Recipe_files/button_u126_normal.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:34px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:40px;
}

.u135 {
    position:absolute;
    left:2px;
    top:8px;
    width:146px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:20px;
    top:48px;
    width:294px;
    height:60px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u137 {
    position:absolute;
    left:20px;
    top:13px;
    width:14px;
    height:12px;
    overflow:hidden;
}

#pd0u137 {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:12px;
    
}

.u138 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u139 {
    position:absolute;
    left:20px;
    top:13px;
    width:294px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd0u129 {
    position:absolute;
    left:0px;
    top:0px;
    width:335px;
    height:276px;
    
}

#u140 {
    position:absolute;
    left:20px;
    top:20px;
    width:7px;
    height:11px;
    overflow:hidden;
}

#pd0u140 {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:11px;
    
}

.u141 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u142 {
    position:absolute;
    left:20px;
    top:20px;
    width:294px;
    height:110px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u143 {
    position:absolute;
    left:20px;
    top:141px;
    width:151px;
    height:35px;
    overflow:hidden;
}

#pd0u143 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:35px;
    
}

.u144_mouseOver {
    background-image: url('../Add_a_Recipe_files/button_u126_mouseOver.png');
}

.u144_disabled {
    background-image: url('../Add_a_Recipe_files/button_u126_disabled.png');
}

.u144_normal {
    background-image: url('../Add_a_Recipe_files/button_u126_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:34px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:40px;
}

.u145 {
    position:absolute;
    left:2px;
    top:8px;
    width:146px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_line {
    background-image: url('../Add_a_Recipe_files/u146_line.png');
}

.u146_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:200px;
}

.u146 {
    position:absolute;
    left:139px;
    top:390px;
    width:10px;
    height:200px;
    
}

#u147 {
    position:absolute;
    left:21px;
    top:684px;
    width:15px;
    height:15px;
    overflow:hidden;
}

#pd0u147 {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
    
}

.u148 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u149 {
    position:absolute;
    left:21px;
    top:684px;
    width:300px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u150 {
    position:absolute;
    left:21px;
    top:729px;
    width:550px;
    height:150px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u151 {
    position:absolute;
    left:686px;
    top:415px;
    width:280px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:16px;
    top:0px;
    width:103px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:16px;
    top:0px;
    width:103px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:686px;
    top:205px;
    width:280px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:16px;
    top:0px;
    width:139px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:16px;
    top:0px;
    width:114px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:686px;
    top:136px;
    width:293px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u178 {
    position:absolute;
    left:686px;
    top:168px;
    width:293px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u180 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u181 {
    position:absolute;
    left:21px;
    top:894px;
    width:313px;
    height:104px;
    overflow:hidden;
}

#pd0u181 {
    position:absolute;
    left:0px;
    top:0px;
    width:313px;
    height:104px;
    
}

.u182_mouseOver {
    background-image: url('../Add_a_Recipe_files/button_u182_mouseOver.png');
}

.u182_disabled {
    background-image: url('../Add_a_Recipe_files/button_u182_disabled.png');
}

.u182_normal {
    background-image: url('../Add_a_Recipe_files/button_u182_normal.png');
}

.u182_container {
    position:absolute;
    left:0px;
    top:0px;
    width:125px;
    height:30px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:36px;
}

.u183 {
    position:absolute;
    left:2px;
    top:6px;
    width:121px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_mouseOver {
    background-image: url('../Add_a_Recipe_files/button_u184_mouseOver.png');
}

.u184_disabled {
    background-image: url('../Add_a_Recipe_files/button_u184_disabled.png');
}

.u184_normal {
    background-image: url('../Add_a_Recipe_files/button_u184_normal.png');
}

.u184_container {
    position:absolute;
    left:0px;
    top:63px;
    width:300px;
    height:40px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:46px;
}

.u185 {
    position:absolute;
    left:2px;
    top:10px;
    width:296px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:16px;
    top:0px;
    width:103px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

